<%= link_to 'Home', root_path %>
<h1>
  <span class="far fa-star"></span>
  <span class="fas fa-star"></span>
  <span class="fab fa-font-awesome"></span>
  <span class="fas fa-star"></span>
  <span class="far fa-star"></span>
</h1>
